
    .align 3
    .section .data
    .globl _num_app
_num_app:
    .quad 10
    .quad app_0_start
    .quad app_1_start
    .quad app_2_start
    .quad app_3_start
    .quad app_4_start
    .quad app_5_start
    .quad app_6_start
    .quad app_7_start
    .quad app_8_start
    .quad app_9_start
    .quad app_9_end

    .global _app_names
_app_names:

    .string "00_hello_world"
    .string "01_store_fault"
    .string "02_power"
    .string "03_priv_inst"
    .string "04_priv_csr"
    .string "05_power_3"
    .string "06_power_5"
    .string "07_power_7"
    .string "08_sleep"
    .string "09_sbrk_test"

    .section .data
    .globl app_0_start
    .globl app_0_end
    .align 3
app_0_start:
    .incbin "../user/target/riscv64gc-unknown-none-elf/release/00_hello_world"
app_0_end:

    .section .data
    .globl app_1_start
    .globl app_1_end
    .align 3
app_1_start:
    .incbin "../user/target/riscv64gc-unknown-none-elf/release/01_store_fault"
app_1_end:

    .section .data
    .globl app_2_start
    .globl app_2_end
    .align 3
app_2_start:
    .incbin "../user/target/riscv64gc-unknown-none-elf/release/02_power"
app_2_end:

    .section .data
    .globl app_3_start
    .globl app_3_end
    .align 3
app_3_start:
    .incbin "../user/target/riscv64gc-unknown-none-elf/release/03_priv_inst"
app_3_end:

    .section .data
    .globl app_4_start
    .globl app_4_end
    .align 3
app_4_start:
    .incbin "../user/target/riscv64gc-unknown-none-elf/release/04_priv_csr"
app_4_end:

    .section .data
    .globl app_5_start
    .globl app_5_end
    .align 3
app_5_start:
    .incbin "../user/target/riscv64gc-unknown-none-elf/release/05_power_3"
app_5_end:

    .section .data
    .globl app_6_start
    .globl app_6_end
    .align 3
app_6_start:
    .incbin "../user/target/riscv64gc-unknown-none-elf/release/06_power_5"
app_6_end:

    .section .data
    .globl app_7_start
    .globl app_7_end
    .align 3
app_7_start:
    .incbin "../user/target/riscv64gc-unknown-none-elf/release/07_power_7"
app_7_end:

    .section .data
    .globl app_8_start
    .globl app_8_end
    .align 3
app_8_start:
    .incbin "../user/target/riscv64gc-unknown-none-elf/release/08_sleep"
app_8_end:

    .section .data
    .globl app_9_start
    .globl app_9_end
    .align 3
app_9_start:
    .incbin "../user/target/riscv64gc-unknown-none-elf/release/09_sbrk_test"
app_9_end:
